.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  padding: 18px 33px;
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 18px;
  background-color: var(--bold--green);
}
