.fade-enter-active,
.fade-leave-active {
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.fade-enter-from {
  transform: translateX(100%);
  opacity: 0;
}

.fade-enter-to {
  transform: translateX(0);
  opacity: 1;
}

.fade-leave-from {
  transform: translateX(0);
  opacity: 1;
}

.fade-leave-to {
  transform: translateX(100%);
  opacity: 0;
}
